// Text
$primary-text-color: #222;
$link-color: #1F8ACC;
$icon-color: #444;

// Background
$primary-background-color: #fafafa;
$secondary-background-color: #ccc;

// Border
$border-color: #ccc;
$border-color-darker-1: darken($border-color, 20);

// Specifics
$root-header-background-color: #ddd;