.header-1 {
  display: block;
  text-align: left;
  font-size: 22px;
  border-bottom: $border;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.header-2 {
  display: block;
  text-align: left;
  font-size: 20px;
  border-bottom: none;
  margin-bottom: 4px;
  padding-bottom: 4px;
}
