@import './borders.scss';

.links {
  max-width: 500px;

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;

    tbody {
      border-radius: 5px;
      overflow: hidden;
    }
  }

  tr {
    border-bottom: $border;

    &:first-child {
      border-top: $border;
    }
  }

  td {
    padding: 10px;
  }

  .name-cell {
    font-weight: bold;
  }

  .links-cell {
    text-align: left;
    a {
      text-align: left;
    }
    width: 100%;
  }
}