.nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 20px;
  flex-wrap: wrap;

  .nav-item-wrapper {
    list-style: none;
    padding: 5px;

    &:hover {
      .nav-item {
        border-bottom: 2px solid $link-color;
        margin-bottom: -2px;
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    .nav-item {
      text-decoration: none;
      border-color: transparent;

      &.is-active {
        border-bottom: 2px solid $link-color;
        margin-bottom: -1px;
      }
    }
  }
}