// Colors
$primary-color: cyan;
$secondary-color: #666;
$primary-background: #222;
$primary-text-color: #ddd;

// Borders
$standard-border: 1px solid $secondary-color;

// Font
$font-family: 'Roboto', sans-serif;

$link-color: #91b9ff;

html {
  height: 100vh;
  width: 100vw;
}

body {
  color: $primary-text-color;
  background-color: $primary-background;
  font-family: $font-family;
  font-size: 20px;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a:visited {
    text-decoration: none;
    color: $link-color;
  }
}

#root {
  height: 500px;
  max-width: 500px;
}

.header {
  font-size: 42px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;

  .nav-item-wrapper {
    list-style: none;

    &:not(:last-child) {
      margin-right: 20px;
    }

    .nav-item {
      text-decoration: none;
      border: $standard-border;
      padding: 5px 10px;
      border-radius: 5px;

      &.is-active {
        background-color: lighten($primary-background, 5);
        border-color: lighten($secondary-color, 10);
      }
    }
  }
}

.home {
  text-align: center;
}

.links {
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;

    tbody {
      border-radius: 5px;
      overflow: hidden;
    }
  }

  tr {
    border-bottom: $standard-border;

    &:first-child {
      border-top: $standard-border;
    }
  }

  td {
    padding: 10px;
    font-size: 18px;
  }

  .name-cell {
    font-weight: bold;
  }

  .links-cell {
    width: 100%;
  }
}